@keyframes fadeInAnimation {
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

body {
    animation: fadeInAnimation ease 3s;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #118EEA;
    overflow: hidden;
}

.dana_index {
    height: 100%;
    width: 600px;
    max-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

img {
    width: 180px;
}

.logo {
    position: relative;
    margin-bottom: 10%;
}

.footer {
    position: absolute;
    bottom: 20px;
    width: 290px;
}