@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #118EEA;
    overflow: hidden;
}

.raw {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.back {
    width: 18px;
    position: absolute;
    left: 20px;
}

.dana_logo {
    width: 95px;
}

.background {
    padding: 0;
    margin: 0;
    background: #0000002b;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/*F5F5F5*/
.container {
    box-sizing: border-box;
    background: #ffffff;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 700px;
    border-radius: 15px;
    margin-top: 40%;
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

h2 {
    font-size: 15px;
    font-weight: 400px;
    color: black;
}

.four_otp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inpOtp {
    background: #F5F5F5;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    width: 58px;
    height: 45px;
    border: none;
    outline: none;
    caret-color: transparent;
}

.resend {
    font-size: 15px;
    font-weight: 600;
    color: #cecece;
}